.customOverlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.customModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  border-radius: 16px;
  width: 600px;
  max-width: 90%;
  outline: none;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.modalBody {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modalBody label {
  color: gray;
  font-size: 0.875rem;
}

.modalBody input {
  font-size: 1rem;
  border: 1px solid gray;
  padding: 5px 10px;
  color: gray;
  border-radius: 0.3rem;
}

.modalFooter {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancelButton {
  background-color: white;
  color: red;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
}

.createButton {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 0px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.9rem;
}
