.sidebar {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #6a1b9a; /* Example purple shade */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.ai {
  font-weight: normal;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin: 15px 0;
  cursor: pointer;
}

.menu li.addPodcast {
  color: #000000;
  display: flex;
}

.menu li.addPodcast:hover {
  color: #6a1b9a;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.addPodcast span {
  padding-left: 1rem;
}

.divider {
  padding-top: 1rem;
  border-bottom: 1px solid gray;
}

.helpSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.helpSection > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2;
}

.helpSection span {
  padding-right: 0.5rem;
}

.userInfo {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.userInfo span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo > span:first-child {
  font-weight: bold;
}
